/* navbar style */

.schoolimg {
    width: 40px;
    height: 40px;
}

.nav-item {
    text-align: center;
}
.nav-item:hover {
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 10px;
}
.nav-link:hover {
    color: white !important;
}

/* navbar style */


/* carosal style */
.cimg {
    height: 31.25rem;
}
/* carosal style */


/* about style */
.abouthead {
    border-radius: 10px;
}
/* about style */


/* card style */
.containercard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 20%; 
    float: left; 
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* CSS for responsiveness */
@media (min-width: 762px) {
    .card {
        width: calc(50% - 20px); /* Two cards per row on medium screens */
    }
}

@media (min-width: 992px) {
    .card {
        width: calc(25% - 20px); /* Four cards per row on large screens */
    }
}
@media (max-width: 762px) {
    .card {
        width: calc(100%); /* Four cards per row on large screens */
    }
}

/* Hover effect */
.card:hover {
    background-color: #f0f0f0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Clear the float to prevent layout issues */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* card style */

/* faculty style */
.itbg {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5%;
    text-align: center;
}
.itbg:hover {
    border: 2px solid #0d6efd;
    border-radius: 10px;
}

.facsize {
    width: 270px;
    height: 337px;
    border-radius: 10px;
}

.fname {
    margin: 10px;
}
/* faculty style */

.b-example-divider {
    width: 100%;
    height: 2rem;
    background-color: #fff;
}

.foot {
    background-color: #ccc;
}